<%- include("partial/header.ejs") %>
    <div class="outer">
        <div class="border">

            <div class="grid">
                <!-- <form method="post" action="/our_blogs">
        <a onclick="this.parentNode.submit();" ><div class="blog" id="blog">WEB DEVELOPMENT</div></a>
    </a>
    </form> -->
                
     <a href="/our_blogs_web"><div class="blog" id="blog">WEB DEVELOPMENT</div></a>

     <a href="/our_blogs_app"><div class="blog" id="blog">APP DEVELOPMENT</div></a>
   <a href="/our_blogs_ai"><div class="blog" id="blog">AI/ML</div></a>
   <a href="/our_blogs_data"><div class="blog" id="blog">DATA SCIENCE</div></a>
   <a href="/our_blogs_devops"><div class="blog" id="blog">DEVOPS</div></a>
   <a href="/our_blogs_cloud"><div class="blog" id="blog">CLOUD</div></a>

            </div>
        </div>
    </div>
    <%- include("partial/footer.ejs") %>