<%- include("partial/header.ejs") %>
    <div class="outer">
        <div class="border">
            <% if(locals.Name){%>
            <h1 class="title">Welcome ,<%= Name %>✨
            </h1>
            <% }else{ %>
                <h1 class="title">Welcome✨
                </h1>
                <% } %>
            <h2 class="title" id="compose">Compose Your Post!📝</h2>
            <div class="mid">
                <form action="/compose_post" , method="post">
                    <label for="title" class="title">Title:</label>
                    <input type="text" name="title">
                    <label for="post">Post:</label>
                    <textarea name="post" id="post" cols="50" rows="20"></textarea>

                    <button value="submit" type="submit">Finish</button>
                </form>
            </div>
        </div>
    </div>

    <%- include("partial/footer.ejs") %>