<%- include("partial/header.ejs") %>
    <div class="outer">
        <div class="border">
            <div class="mid">
               
                
             
                <div class="accounts">
                    Email: mayanksaini9389@gmail.com</a>
                    <br>
                    Phone: 9389882759
                    <br>
    
                You can also connect with us on social media:
                <div> Twitter: <a href="https://twitter.com/MayankS09985836?s=09">Mayank@Developer</a>
                </div>
             
                <div>
                    Facebook: <a href="https://www.facebook.com/profile.php?id=1000534283976">Mayank@Developer</a>
                </div>
                
                <div> Instagram: <a href="https://www.instagram.com/saini_mayank1">Mayank@Developer</a>
                </div>
                
                <div>
                    LinkedIn: <a href="https://www.linkedin.com/in/mayank-saini-b91906202">Mayank@Developer</a>

                </div>
            </div>
            </div>
        </div>
    </div>

    <%- include("partial/footer.ejs") %>