<%- include("partial/header.ejs") %>
<div class="outer">
  <div class="border">
    <div class="mid">
      <div class="title_blog"><%= title %></div>
      <%= post %>

      <a href="/Blogs" class="blog">Read our Awesome Blogs!</a>
    </div>
  </div>
</div>

<%- include("partial/footer.ejs") %>
