<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG WEB-APP</title>
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/layout.css">
</head>

<body>
    <div class="header">
        <div class="logo">
            <img src="images/572.png" alt="logo">
        </div>

        <div class="sections">
          <ul>
                <li>
                    <a  class="lol" href="/">Home</a>
                </li>
                <li>
                    <a href="/compose">Compose</a>
                </li>
                <li>
                    <a href="/Blogs">Blogs</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact</a>
                </li>
                
            </ul>
        </div>
    </div>
